<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>calculations</title>
</head>
<body>
CrowFlight distance calculation
<form th:action="@{calculateDistance}" method="get">
    <div>
        City from:
        <input type="text" name="firstName" required>
        <input type="number" name="firstLat" required>
        <input type="number" name="firstLong" required>
    </div>
    <br>
    <div>
        City to:
        <input type="text" name="secondName" required>
        <input type="number" name="secondLat" required>
        <input type="number" name="secondLong" required>
    </div>
    <br>
    <div>
        <button>
            Найти расстояние
        </button>
    </div>
</form>
<br>
<br>
<br>
<br>
<br>
Distance Matrix Calculation(only if info about cities is already exists)
<form th:action="@{graphDistanceCalculation}" method="get">
    <div>
        City from:
        <input type="text" name="firstName" required>
        <input type="number" name="firstLat" required>
        <input type="number" name="firstLong" required>
    </div>
    <br>
    <div>
        City to:
        <input type="text" name="secondName" required>
        <input type="number" name="secondLat" required>
        <input type="number" name="secondLong" required>
    </div>
    <br>
    <div>
        <button>
            Найти расстояние
        </button>
    </div>
</form>
<br>
<br>
<br>
<br>
<br>
<form method="POST" enctype="multipart/form-data"
      action="/upload">
    File to upload: <input type="file" name="file"><br/> Name: <input
        type="text" name="name"><br/> <br/> <input type="submit"
                                                   value="Upload"> Press here to upload the file!
</form>
<br>
<br>
<br>
<br>
<br>
<a href="/mainPage"><b>Main Page</b></a>
</body>
</html>