<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>cityTable</title>
</head>
<body>
<form th:action="@{/addCity}"
      method="GET">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text"  name = "name"/></td>
        </tr>
        <tr>
            <td> Latitude:</td>
            <td> <input type="number" name = "latitude"/></td>
        </tr>
        <tr>
            <td> Longitude:</td>
            <td><input type="number" name = "longitude"/></td>
        </tr>
    </table>
    <input type="submit" value="Create"/>
</form>
<br>
<br>
<br>
<br>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Latitude</td>
        <td>Longitude</td>
    </tr>
    <div th:each="num : ${cities}">
        <tr>
            <td><input type=text readonly th:value="${num.name}"/></td>
            <td><input type=text readonly th:value="${num.latitude}"/></td>
            <td><input type=text readonly th:value="${num.longitude}"/></td>
        </tr>
    </div>
</table>
<br>
<br>
<br>
<br>
<br>
<a href="/mainPage"><b>Main Page</b></a>
</body>
</html>